{% extends 'calidad_aire/base.html' %}
{% block content %}
<div class="container">
    <h1>Agregar Elemento</h1>
    <form method="get" action="agregar">
        <label>Codigo</label><br>
        <input type="text" name="codigo" required><br><br><br>
        <label>Latitud</label><br>
        <input type="text" name="latitud" required><br><br><br>
        <label>Longitud</label><br>
        <input type="text" name="longitud" required><br><br><br>
        <label>Area</label><br>
        <input type="text" name="area" required><br><br><br>
        <label>Producto</label><br>
        <select name="producto" required>
            <option value="Leche">Leche</option>
            <option value="Cacao">Cacao</option>
            <option value="Flores">Flores</option>
            <option value="Hortalizas">Hortalizas</option>
            <option value="Carne">Carne</option>
        </select><br><br><br>
        <button type="submit">Agregar</button>
    </form>
    </form>
</div>
{% endblock %}
